a{
	color: black;
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	border-radius: 25px;
	border: 2px solid black;
	display: block;
	text-align:center;
	width:800px;
	margin:auto;
	font-size: 2em;
	font-weight: bold;
}

